@import "tailwindcss";

:root {
    --colorprimary: #F5F3EF;
    --button-hover-text: white;
    --h1-color: #3C4044;
}

body {
    @apply p-4;
    background-color: var(--colorprimary);
    transition: background-color 0.8s ease-in-out;
}

h1 {
    @apply font-sans text-xl md:text-2xl font-stretch-expanded font-semibold text-center py-12;
    color: var(--h1-color);
    transition: color 0.8s ease-in-out;
}

h2 {
    @apply text-center text-base font-semibold;
}

.app__container {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 items-start;
}

.SchemaOutput {
    @apply rounded-2xl py-6 px-4 md:px-10 bg-white text-xs text-left overflow-hidden text-clip min-h-svh overflow-x-auto whitespace-nowrap shadow-xl ring-gray-900/5;
}

form {
    @apply rounded-2xl p-6 bg-white text-xs sm:text-sm min-h-svh shadow-xl ring-gray-900/5;
}

.inputForm__div {
    @apply py-2 flex items-center;
}


.inputFormdiv__subdiv {
    @apply border border-gray-200 p-3 my-5 rounded-xl;
}

input, textarea {
    @apply bg-gray-100 rounded-sm p-2 mx-3;
}

select {
    @apply border border-gray-100 p-2 mx-3 rounded-sm;
}

button {
    @apply border border-gray-400 rounded-lg py-1 px-2 mx-3;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--colorprimary);
    color: var(--button-hover-text);
}

